<main>
  <form class="password-page">
    <div class="element-center relative-block">
      <div class="avatar__size avatar__img"></div>      
      <div class="password-page__name">Иван</div>
    </div>
    <div class="data">
      <div class="data__line">
        <span>Старый пароль</span>
        {{> Input className="input__element--align-right" title="Старый пароль" name="oldPassword" value="pochta@yandex.ru" type="password"}}
      </div>
      <div class="data__line">
        <span>Новый пароль</span>
        {{> Input className="input__element--align-right" title="Новый пароль" name="newPassword" value="ivanivanov" type="password"}}
      </div> 
      <div class="data__line data__line-last">
        <span>Повторите новый пароль</span>
        {{> Input className="input__element--align-right" title="Новый пароль (еще раз)" name="newPassword" value="+7 (909) 967 30 30" type="password"}}
      </div>
    </div> 
    {{> Button text="Сохранить" type="submit" }}
  </form> 
</main>
