<main>
  {{#> Container }}
    <div class="notFound-page">
      {{> Error title="404" }}
      {{> PageTitle title="Не туда попали" }} 
      {{> Link page="chat" text="Назад к чатам"}}
    </div>
  {{/ Container }}
</main>