<div class="user__block"> 
  <div class="user__img"></div>
  <div> 
    <div class="user__name">
      <a href="settings" page="profile">{{ name }}</a>
    </div>
    <div>{{ info }}</div>
  </div>
</div>
