<div class="user__block"> 
  <div class="user__flex">
    <div class="user__img"></div>
    <div> 
      <div class="user__name"> {{ name }}</div>
      <div>{{ info }}</div>
    </div>
  </div>
  {{{deleteUserButton}}}
</div>
