@import '../../../static/variables';

.delete-button { 
  background-color: #d9d9d9;
  color: #fff;
  border: 0;
  max-width: 28px;
  width: 28px; 
  cursor: pointer;
  height: 28px;
  border-radius: 50%;

  &:hover {
    background: $red;
  }
}
