<main>
  {{#> Container }}
    <div class="fix-page">
      {{> Error title="500" }}
      {{> PageTitle title="Мы уже фиксим" }} 
      {{> Link page="chat" text="Назад к чатам"}}
    </div>
  {{/ Container }}
</main>
