<div class="message__block {{#if isOwn}}message__block-own{{else}}message__block-other{{/if}}">
  <div class="message  {{#if isOwn}}message__own{{else}}message__other{{/if}}">
    <p class="message__text">{{message}}</p>
    <p class="message__time">{{time}}</p>
  </div>
</div>
