<form class="form">  
  <div class="relative-block element-center">
      <div class="avatar__size avatar__img"></div>
      <div class="profile-page__avatar-hover avatar__size element-center">
        <input name="avatar size" type="file">   
      </div> 
      <div class="password-page__name">Иван</div>
    </div>
  {{{oldPasswordInput}}}
  {{{newPasswordInput}}}     
  {{{passwordRepeateInput}}} 
  {{{submitBtn}}} 
</form>
