$font-body: Inter,"Segoe UI","Roboto","Helvetica Neue",sans-sans;

$font-weight-regular: 400;
$font-weight-semibold: 600;

$font-large: #{$font-weight-regular} 76px/76px #{$font-body};
$font-big: #{$font-weight-regular} 24px/24px #{$font-body};
$font-title: #{$font-weight-semibold} 16px/16px #{$font-body};
$font-regular: #{$font-weight-regular} 13px/13px #{$font-body};
$font-small: #{$font-weight-regular} 12px/12px #{$font-body};
$font-micro: #{$font-weight-regular} 11px/11px #{$font-body};
$font-nano: #{$font-weight-regular} 9px/9px #{$font-body};

$text-bgcolor: #FFF;
$text-color: #999999;
$text-light-color: #999;
$text-red: #FF0000;
$text-blue: #3369F3;

$hover-color: #8fe4ace0;
$gray-light-color: #EAEAEA;
$link-color: #757575;
$title-color: #233128;
 
$button-color: #233128;
$button-bgcolor: #AFF4C6;

$menu-button-color: #{$button-bgcolor};
$menu-button-bgcolor: #F5F5F5;

$menu-font: #{$font-weight-regular} 12px/14px #{$font-body};
$menu-bgcolor: #{$text-bgcolor};
$menu-shadow: 0px 0px 6px #00000024;
$border-line: 0.5px solid $gray-light-color;

$divider-line-color: #EAEAEA;

$chat-list-bgcolor: #c4c1c1;
$chat-list-current-bgcolor: #E4EDFD;

$chat-message-font: #{$font-weight-regular} 12px/15px #{$font-body};
$chat-message-bgcolor: #F8F8F8;
$chat-message-color: #1E1E1E;
$chat-message-inverse-color: #FFF;
$chat-message-inverse-bgcolor: #404040e3;
$chat-message-my-bgcolor: #E4EDFD;
$chat-message-my-color: #{$chat-message-color};
$chat-message-my-time-color: #{$button-bgcolor};

$dialog-bgcolor: #f3fdf6;
$dialog-shadow: #{$menu-shadow};

$dialog-modal-overlay-bgcolor: #00000066;
$dialog-modal-content-shadow: #{$menu-shadow};
$dialog-modal-title: #{$font-weight-regular} 15px/20px #{$font-body};

$gray-color: #d9d9d9;