@import '../../../static/variables';

.input-field {
  background-color: $text-bgcolor;
  padding: 7px 4px 0;
  border-bottom: 0.5px solid $gray-color;
  position: relative;

  &__title {
    font: $font-nano;
    margin-bottom: 5px;
    color: $text-color;
  }
}
.error-message {
  position: absolute;
  font-size: 10px;
  top: 2px;
  right: 5px;
}
