<div class="small-avatar__relative">
  {{#if avatar}}
  <img class="avatar__img small-avatar__size" src="https://ya-praktikum.tech/api/v2/resources{{avatar}}">
  {{else}}
      <div class="user__img"></div> 
  {{/if}}
  <div class="small-avatar__hover small-avatar__size element-center">
    <input name="avatar size" type="file">  
  </div>  
</div>
