@import '../../../static/variables';

.search { 
  position: relative; 

  &__logo {    
    position: absolute;
    color: $link-color; 
    top: 7px; 
    left: 15px;
  }

  &__element {
    width: 260px;
    background: $gray-light-color;
    border-radius: 6px;
    padding: 0 0 0 35px;
    height: 26px; 
    border: 0; 
  }
}
