<div class="relative-block element-center">
    {{#if avatar}}
    <img class="avatar__img avatar__size" src="{{avatar}}">
    {{else}}
        <div class="avatar__size avatar__img"></div>
    {{/if}}
    <div class="profile-page__avatar-hover avatar__size element-center">
      <input name="avatar size" type="file">  
      <span>Поменять аватар </span>
    </div> 
    <div class="password-page__name">Иван</div>
  </div>