<div id="selectedChat" style="display: none;" class="message-container__block">
  <div class="message-container__container">
    <div class="message-container__sender">{{{sender}}} </div>
    {{{userMessagesList}}}
  </div>
  <div class="message-container-page">
    {{{newMessage}}} 
  </div>
</div> 
