 

<main class="page">
  <div class="chat-page"> 
    <div class="chat-page__main"> 
      {{{userMain}}} 
      <p>{{{searchInput}}}</p>
    </div>
     <div class="chat-page__list">{{{chatList}}}</div>
  </div>
  {{{createMessagesContainer}}} 
</main>
